$classes: (
  light: '.white-1e1d7',
  dark: '.black-3c85d'
);

$themes: (
  alpha: (
    light: #EEEED2,
    dark: #769656
  ),
  chess24: (
    light: #9E7863,
    dark: #633526
  ),
  dilena: (
    light: #FFE5B6,
    dark: #B16228
  ),
  leipzig: (
    light: #FFFFFF,
    dark: #E1E1E1
  ),
  metro: (
    light: #FFFFFF,
    dark: #EFEFEF
  ),
  symbol: (
    light: #FFFFFF,
    dark: #58AC8A
  ),
  uscf: (
    light: #C3C6BE,
    dark: #727FA2
  ),
  wikipedia: (
    light: #FFCE9E,
    dark: #D18B47
  )
);